<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<form action="/campgrounds/new">
  <button type="submit">Add Campground</button>
</form>
<ul>
  <% for (let camp of campgrounds) {%>
  <li>
    <a href="campgrounds/<%= camp._id %> ">
      <%= camp.title %> @ <b><%= camp.location %></b></a
    >
  </li>
  <% } %>
</ul>
